<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eng_support">

	<select id="plist" resultType="com.ict.db.VO2">
		select * from petro order by idx
	</select>
	
	<select id="onepick" parameterType="String" resultType="com.ict.db.VO2">
		select * from petro where idx=#{idx}
	</select>
	
	<insert id="pinsert" parameterType="com.ict.db.VO2">
		insert into 
		values()
	
	</insert>
	
	<update id="pupdate" parameterType="com.ict.db.VO2">
		update petro
		set	unit=#{unit}, 
		where idx =#{idx}
	</update>
	
	<delete id="pdelete" parameterType="com.ict.db.VO2">
		delete from petro
		where idx = #{idx}
	</delete>
	
</mapper>
