@charset "UTF-8";

/*헤더*/
#main_header>div {
	margin: 0 auto;
	width: 1500px;
}

#main_header>div>button {
	width: 100px;
	font-size: 20px;
}

#main_header>div>h1 {
	font-size: 50px
}

/*메인화면: 회원관리*/
.member {
	height: 30px;
}

#login {
	position: relative;
	left: 1400px;
	bottom: 5px;
}

#logout {
	position: relative;
	left: 1280px;
	bottom: 5px;
}

#mypage {
	position: relative;
	left: 1400px;
	bottom: 34.5px;
}

/*메인화면: 메뉴판*/

#main_body>ul {
	overflow: hidden;
	list-style-type: none;
	background-color: #333;
	text-align: center;
	font-size: 25px;
	width: 1500px;
	color: white;
	margin: 15px auto;
	padding-inline-start: 0px;
}

#main_body>ul>li {
	float: left;
	width: 25%;
}

#main_body>ul>li a {
	display: block;
	padding: 14px 0px;
}

#main_body>ul>li a:hover {
	background-color: #111111;
}

